<html>
    <head>
        <title>Kat's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 18.07.2015, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello, World!</p>
        </div>

        <div>
            <p>published: 18.07.2015, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>This is a generic sentence.</p>
        </div>
    </body>
</html>
